<nav class="navbar navbar-light bg-light border-bottom">
  <a class="navbar-brand mr-auto" href="#">
    <img src="assets/images/logo-idle-cards.png" alt="Idle Risk Cards" width="160" height="50">
  </a>
  <div *ngIf="isActiveCardCreation" class="form-inline">
    <h3><img src="assets/images/metamask.svg" alt="metamask" width="45" height="39"> {{account}}</h3>
    <hr class="line-vertical" />
    <h3><img src="favicon.ico" alt="metamask" width="45" height="39"> {{totalGroups | async}} cards</h3>
    <hr class="line-vertical" />
    <div *ngFor="let recipient of idleCDOBalances | async | keyvalue: asIsOrder">
      <span class="text-left align-middle"> <img class="img-thumbnail rounded-circle" style="width: 40px; height: 40px"
          [src]="recipient.key.icon" alt="{{
          recipient.key.name }}" />{{recipient.value | number: "1.2-2"}}</span>
    </div>
  </div>
  <div *ngIf="!isActiveCardCreation" class="form-inline">
    <button type="button" class="btn btn-primary btn-block btn-lg" (click)="onConnect()">
      <img class="img-thumbnail rounded-circle" src="assets/images/metamask.svg" alt="Idle Risk Cards" width="45" height="39">
      Connect
    </button>
  </div>
</nav>

<div *ngIf="!isAnAccount" class="container pt-3">
  <div class="alert alert-danger text-center" role="alert">
    Network is not connected. Please connect to the network.
  </div>
</div>

<div *ngIf="!isValidNetwork && isAnAccount" class="container pt-3">
  <div class="alert alert-danger text-center" role="alert">
    Network is not valid. Please change to the correct network and reconnect.
  </div>
</div>

<div *ngIf="isValidNetwork" class="container pt-3" style="width: 24rem;" [ngClass]="{disabledDiv: !isActiveCardCreation}">
    <app-card-create (cardCreated)="handleCardCreate($event)"> </app-card-create>
</div>

<div *ngIf="isValidNetwork" class="d-flex container-fluid">
  <div class="row">
    <app-card-group *ngFor="let cardGroup of cardGroups | async" [cards]="cardGroup.cards" [tokenId]="cardGroup.tokenId" (cardBurned)="handleCardBurn($event)">
    </app-card-group>
  </div>
</div>



