<div class="card" style="width: 30rem;">
  <div class="card-header l-bg-blue-dark text-center"> Idle CDO Risk Cards </div>
  <div class="card-body">


    <form [formGroup]="cardForm" (ngSubmit)="submitForm()">
      <!-- SELECTOR -->
      <div class="card">
        <div class="card-body text-center">
          <div class="container">
            <select formControlName="idleCDO" class="form-control custom-select" [attr.disabled]="!idleCDOs? 'disabled' : null" (change)='onUserChange($event)'>
              <option [ngValue]="idleCDO" *ngFor="let idleCDO of idleCDOs">{{idleCDO.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div formGroupName="cardItem">
        <div class="card">
          <div class="card-body text-center">
            <div class="container">

              <div class="row mb-3">
                <div class="col-md-3">
                  <label class="text-muted small"> <img class="img-thumbnail rounded-circle"
                      style="width: 40px; height: 40px" [src]="cardForm.get('idleCDO').value.icon" alt="" /> {{
                    cardForm.get('idleCDO').value.name }}</label>
                </div>
                <div class="col-md-6">
                  <span>{{ underlyingBalance | number: "1.2-2" }}</span>
                  <small class="form-text text-muted text-center">Current Balance ({{
                    cardForm.get('idleCDO').value.name }})</small>
                </div>
                <div class="col-md-3">
                  <button type='button' class="btn btn-sm btn-primary btn-block" (click)="onAddCardItem($event)">Add</button>
                </div>
              </div>

              <div class="row mb-0">
                <div class="col-md-3">
                  <span>{{ exposure | number: "1.0-0" }}%</span>
                  <div class="text-uppercase text-muted small">risk</div>
                </div>

                <div class="col-md-3">
                  <span>{{ apr | number: "1.2-2" }}%</span>
                  <div class="text-uppercase text-muted small">APR</div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <input formControlName="amount" type="text" class="form-control form-control-sm text-right" (input)="onUserChange($event)"
                        placeholder="0.00" />
                    </div>
                    <small class="form-text text-muted text-center">Deposit amount ({{
                      cardForm.get('idleCDO').value.name }})</small>
                  </div>
                </div>
              </div>

              <div class="custom-ngx-slider">
                <ngx-slider formControlName="exposure" [(value)]="exposure" [options]="options"
                  (userChange)="onUserChange($event)" class="form-control-sm">
                </ngx-slider>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="disableMint" class="btn btn-sm btn-primary btn-block">Mint</button>
      </div>
    </form>
  </div>
</div>
