<div class="card">
  <div class="card-header l-bg-blue-dark text-center"> Idle CDO Risk Cards </div>
  <div class="card-body">

    <div class="card">
      <div class="card-body row text-center">
        <div class="col">
          <div class="text-value-xl">
            <h2>{{ exposure | number: "1.0-0" }}%</h2>
          </div>
          <div class="text-uppercase text-muted small">risk</div>
        </div>
        <div class="vr"></div>
        <div class="col">
          <div class="text-value-xl">
            <h2>{{ apr | number: "1.2-2" }}%</h2>
          </div>
          <div class="text-uppercase text-muted small">APR</div>
        </div>
      </div>
    </div>

    <form [formGroup]="cardForm" (ngSubmit)="submitForm()">
      <select formControlName="idleCDO" class="form-control custom-select" [attr.disabled]="!idleCDOs? 'disabled' : null" (change)='onUserChange($event)'>
        <option [ngValue]="idleCDO" *ngFor="let idleCDO of idleCDOs">{{idleCDO.name}}</option>
      </select>

      <div formGroupName="cardItem" class="container">

        <div class="row custom-ngx-slider">
          <ngx-slider formControlName="exposure" [(value)]="exposure" [options]="options" (userChange)="onUserChange($event)"
            class="form-control-sm">
          </ngx-slider>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label class="text-muted small"> <img class="img-thumbnail rounded-circle" style="width: 40px; height: 40px"
                [src]="cardForm.get('idleCDO').value.icon" alt="" /> {{ cardForm.get('idleCDO').value.name }}</label>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <div class="input-group">
                <input formControlName="amount" type="text" class="form-control form-control-sm text-right" placeholder="0.00" />
              </div>
              <small class="form-text text-muted text-center">Deposit amount ({{ cardForm.get('idleCDO').value.name }})</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-sm btn-primary btn-block">Mint</button>
      </div>
    </form>
  </div>
</div>
