<div class=col>
  <div class="card l-bg-blue-dark" style="width: 25rem;">
    <div class="card-statistic-3 p-4">
      <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
        <div class="row align-items-center d-flex">
          <div class="col-9 text-truncate">
            <h1 class="card-title mb-0">#{{tokenId}}</h1>
          </div>
          <div class="col-3 text-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="onBurn()">Burn</button>
          </div>
        </div>
        <div class="row align-items-center mt-0 d-flex">
          <div class="col align-self-center text-center">
               <div>
                 <img class="img-thumbnail rounded-circle overlap-item" style="width: 70px; height: 70px"
                *ngFor="let card of cards" [src]="card.idleCDO.icon" />
              </div>

          </div>
        </div>
    </div>

    <div class="card-statistic-3 p-2" *ngFor="let card of cards" >

        <div class="row align-items-center d-flex ">

          <div class="col-sm-2 text-center">
            <img class="img-thumbnail rounded-circle" style="width: 40px; height: 40px" [src]="card.idleCDO.icon" />
            <div class="text-uppercase small">{{ card.idleCDO.name }}</div>
          </div>
          <div class="col-sm-3 text-center">
            <span class="mb-0">{{ card.exposure | number:'1.0-0' }}% </span>
            <div class="text-uppercase  small">RISK</div>
          </div>
          <div class="col-sm-3 text-center">
            <span class="mb-0">{{card.apr | number:'1.2-2'}}%</span>
            <div class="text-uppercase small">APR</div>
          </div>
          <div class="col-sm-4 text-right">
            <span class="mb-0 font-weight-bold">{{ card.amount }}</span>
            <div class="text-uppercase small">AMOUNT</div>
          </div>

        </div>
        <div class="progress mt-1 " data-height="25" style="height: 8px;">
            <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: {{ card.exposure | number:'1.0-0' }}%;"></div>
        </div>
      </div>
  </div>
  </div>
